
* {
    margin: 0;
    padding: 0;
}


.open{
    border-radius: 2px;
    background-color: black;
    color:white;
    width: 5rem;
    padding: 2px 2px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top:0;
    left: 0;
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    

    display: none;
}

/* .model.show {
    display: none;
    
} */